@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$blue-dianne: #264653;
$jungle-green: #2a9d8f;
$rob-roy: #e9c46a;
$sandy-brown: #f4a261;
$burnt-sienna: #e76f51;

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.CircularProgressbar {
  .CircularProgressbar-path {
    stroke: $blue-dianne;
  }

  .CircularProgressbar-text {
    fill: $blue-dianne;
  }
}
